@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap');
.bg
{
    background: linear-gradient(to right,   
    #F5DEDA 0%,
    #F5DEDA 50%,
    #B3B0C4 50%,
    #B3B0C4 100%);
}
.lbtn{
    padding: 0.6rem 1.8rem;
    background-color: #B3B0C4;
    color: #fdfaf3;
    border-radius:5px;
    transition: padding 0.3s;
    border: 0;
}

.lbtn:hover{
    padding: 0.8rem 2rem;
}

.lform{
    background-color: #F1EEE6;
}

.l-ul{
    list-style-type: none;
    width: 75%;
    margin: auto;
    padding:0;
}

.l-li{
    border-bottom: 1px solid #fdfaf3;
    padding:1rem 0;
    color:#fdfaf3;
}

.desc{
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.p-desc{
    width: 75%;
    padding: 1rem 0;
    margin:0 auto;
    font-family: 'EB Garamond', serif;
    font-size: 1.2rem;
    color:#fdfaf3;
    border-bottom: 2px solid #fdfaf3 ;
}

input[type=text]:focus {
    border-color:#B3B0C4;
  }

.lbtn-s{
    background-color: #3c303e;
}